.roster-toolbar-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.roster-header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.roster-navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.roster-tile-content {
  width: 100%;
}

.roster-tile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
